/*.lang-select-for-mobile {

}

.lang-select-inner-wrapper {
    position: relative;
}


.lang-select-for-mobile {
    text-align: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    right: 0;
    background-color: #DCB691;
}*/
/*.header-flag-image-right img:hover .lang-select-for-mobile{
    display: none;
}*/
/*.mobile-select-arrow-up,
.mobile-select-arrow-down{
	font-size: 18px;
	padding: 5px 0px;
	font-weight: 800;
	cursor: pointer;
	display: block;
}
.lang-select-inner-wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    object-fit: cover;
    text-align: center;
    height: calc(300px + 0px);
    width: 200px;
    background-color: #DCB691;
    margin-left: -15px;
}
.lang-select-inner-wrapper > ul > li > a > img {
    width: 85%;
    margin: 5px 0px;
}
.lang-select-inner-wrapper > ul::-webkit-scrollbar { 
  display: none;
  position: absolute;
}
*/
/*scrroll bar heide for firefox*/
/*.lang-select-inner-wrapper {
    position: relative;
    width: 188px;
    overflow: hidden;
    margin-left: 1px;
}

.lang-select-inner-wrapper > ul > li {
    padding: 10px;
}*/










